<div x-data='xDataproduct({{ data | dump | safe }})' class="bg-white rounded-2xl shadow-lg  hover:shadow-2xl border border-gray-200 hover:border-gray-300 overflow-hidden transition-all duration-500 group transform hover:-translate-y-2">
    <a href="/product/{{ data.product.slug }}" class="block relative">
        <img src="{{ data.product.images[0].fileUrl | default('https://placehold.co/600x400/orange/white') }}"
            alt="Product 1"
            class="w-full {% if data.product.images[1] %} group-hover:opacity-0 {% else %}  group-hover:opacity-100 {% endif %} h-auto aspect-square object-cover transition-opacity duration-300">
        {% if data.product.images[1] %}

        <img src="{{ data.product.images[1].fileUrl | default('https://placehold.co/600x400/orange/white') }}"
            alt="Product 1 Hover"
            class="absolute inset-0 w-full h-auto aspect-square object-cover opacity-0 transition-opacity duration-300 group-hover:opacity-100">
        {% endif %}
    </a>
    <a href="/product/{{ data.product.slug }}" class="flex pt-6 pb-4 flex-col flex-1 justify-center items-center gap-2 text-center px-4">
        <p class="font-bold text-gray-900 text-base text-center leading-tight font-['Cairo',sans-serif] min-h-[3rem] flex items-center justify-center">
           {{ data.product.title }}
        </p>
    
        <div class="flex items-center justify-center gap-3">
            {% if data.product.pricing.price >0 %}
            <p class="text-gray-800 text-lg font-bold text-center font-['Cairo',sans-serif]">{{data.product.pricing.price | money }}</p>
            {%endif%}
            {% if data.product.pricing.compareAtPrice > data.product.pricing.price %}
            <p class="text-gray-400 line-through text-sm font-medium font-['Cairo',sans-serif]">
                {{data.product.pricing.compareAtPrice | money }}
            </p>
            {%endif%}
        </div>
    </a>
</div>